* {
  box-sizing: border-box;
  font-family: "Treasure Map Deadhand", sans-serif;
  font-size: 40px;
}

body {
  height: 100vh;
  margin: 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-image: url("../images/jungleNEW.jpg");
  background-repeat: no-repeat;
}

.title {
  width: 800px;
  height: 140px;
}

.scroll {
  background-image: url("../images/myMap1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1000px;
  background-position: center;
}
.header-wrapper {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}
img {
  height: 500px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  height: 580px;
  width: 580px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.grid div {
  height: 10%;
  width: 10%;
}
.openGates {
  background-image: none;
}
.rum1 {
  background-image: url("../images/rum1.png");
  background-size: contain;
  animation: pulse 1s ease infinite;
}
.rum2 {
  background-image: url("../images/rum2.png");
  background-size: contain;
  animation: pulse 1s ease infinite;
}
.coconut {
  background-image: url("../images/coconut.png");
  background-size: contain;
  animation: pulse 1s ease infinite;
}
.cocktail {
  background-image: url("../images/cocktail.png");
  background-size: contain;
  animation: pulse 1s ease infinite;
}
.x {
  background-image: url("../images/x.png");
  background-size: contain;
}
.speedoSteve {
  background-image: url("../images/speedoSteve.png");
  background-size: contain;
}
.raptor {
  background-image: url("../images/bouncer-raptor.png");
  background-size: contain;
}
.explorer {
  background-image: url("../images/Explorer.png");
  background-size: contain;
}
.treasure {
  background-image: url("../images/treasure.png");
  background-size: contain;
}
.pete {
  background-image: url("../images/pirate.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.trees {
  background-image: url("../images/palmTree.png");
  background-size: contain;
}
.davy {
  background-image: url("../images/DavyJones.png");
  background-size: contain;
}
.mermaid {
  position: absolute;
  right: 180px;
  bottom: 0px;
  height: 310px;
}
.speechBubble {
  position: absolute;
  right: 0px;
  bottom: 200px;
}
.speechBubble img {
  height: 350px;
}
.speechBubbleText {
  position: absolute;
  right: 0%;
  top: 25%;
  padding: 30px 50px;
  text-align: center;
  font-size: 30px;
}
.pointsPanel {
  position: absolute;
  width: 200px;
  left: 70px;
  top: 200px;
}
.pointsAndAnouncement {
  display: flex;
  align-items: center;
  text-align: center;
  width: 500px;
}
.anouncement {
  background-color: rgba(255, 255, 255, 0.308);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
    0 0 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  width: 200px;
  border-radius: 3px;
}
.container {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progress-outer {
  background-color: rgba(255, 255, 255, 0.26);
  width: 28%;
  height: 300px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2),
    0 0 30px rgba(0, 0, 0, 0.1);
}
.progress-inner {
  border-radius: 25px 25px 0 0;
  height: 20%;
  width: 100%;
  position: relative;
  background-image: url("../images/alcoholLevel.webp");
  transition: height 1s;
}
.completelyDrunk {
  border-radius: 25px;
}
.drunknessLevel {
  margin: 10px 0;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8), 0 0 5px rgba(0, 0, 0, 0.6),
    0 0 10px rgba(0, 0, 0, 0.377);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.gate1 {
  background-image: url("../images/door1.png");
  background-size: contain;
}
.gate2 {
  background-image: url("../images/door2.png");
  background-size: contain;
}
